name: Build sdk-bindings for iOS
on:
  workflow_dispatch:
    inputs:
      ref:
        description: 'commit/tag/branch reference'
        required: true
        type: string
  workflow_call:
    inputs:
      repository:
        description: 'sdk repository, defaults to current repository'
        required: false
        type: string
      ref:
        description: 'commit/tag/branch reference'
        required: true
        type: string
      use-dummy-binaries:
        description: 'If true, creates dummy binaries rather than real binaries'
        required: false
        type: boolean
        default: false

jobs:
  build:
    if: ${{ !inputs.use-dummy-binaries }}
    runs-on: macOS-latest
    name: build ${{ matrix.target }}
    strategy:
      matrix:
        target: [
          aarch64-apple-ios,
          x86_64-apple-ios,
          aarch64-apple-ios-sim,
        ]
    steps:
    - name: checkout
      uses: actions/checkout@v4
      with: 
        ref: ${{ inputs.ref }}
        repository: ${{ inputs.repository || github.repository }}

    - name: Install rust toolchain
      run: |
        rustup set auto-self-update disable
        rustup toolchain install stable --profile minimal
        rustup target add ${{ matrix.target }}

    - name: Install Protoc
      uses: arduino/setup-protoc@v3
      with:
        version: "27.2"
        repo-token: ${{ secrets.GITHUB_TOKEN }}

    - uses: Swatinem/rust-cache@v2
      with:
        workspaces: libs

    - name: Install xcode
      uses: maxim-lobanov/setup-xcode@v1
      with:
        xcode-version: latest-stable

    - name: Build sdk-bindings
      working-directory: libs/sdk-bindings
      run: cargo build --release --target ${{ matrix.target }}
    
    - name: Archive release
      uses: actions/upload-artifact@v4
      with:
        name: sdk-bindings-${{ matrix.target }}
        path: libs/target/${{ matrix.target }}/release/libbreez_sdk_bindings.a

  merge:
    runs-on: macOS-latest
    needs: build
    name: build ios-universal
    steps:
    - uses: actions/download-artifact@v3
      with:
        name: sdk-bindings-aarch64-apple-ios
        path: aarch64-apple-ios

    - uses: actions/download-artifact@v3
      with:
        name: sdk-bindings-x86_64-apple-ios
        path: x86_64-apple-ios

    - uses: actions/download-artifact@v3
      with:
        name: sdk-bindings-aarch64-apple-ios-sim
        path: aarch64-apple-ios-sim

    - name: Build iOS universal
      run: |
        mkdir -p ios-universal
        mkdir -p ios-universal-sim
        # build universal lib for arm device and x86 sim
        lipo -create -output ios-universal/libbreez_sdk_bindings.a aarch64-apple-ios/release/libbreez_sdk_bindings.a x86_64-apple-ios/release/libbreez_sdk_bindings.a
        # build universal lib for arm sim and x86 sim
        lipo -create -output ios-universal-sim/libbreez_sdk_bindings.a aarch64-apple-ios-sim/release/libbreez_sdk_bindings.a x86_64-apple-ios/release/libbreez_sdk_bindings.a

    - name: Archive release
      uses: actions/upload-artifact@v3
      with:
        name: sdk-bindings-ios-universal
        path: |
          ios-universal/libbreez_sdk_bindings.a

    - name: Archive release
      uses: actions/upload-artifact@v3
      with:
        name: sdk-bindings-ios-universal-sim
        path: |
          ios-universal-sim/libbreez_sdk_bindings.a

  build-dummies:
    if: ${{ inputs.use-dummy-binaries }}
    runs-on: ubuntu-latest
    name: build ios dummies
    strategy:
      matrix:
        target: [
          aarch64-apple-ios,
          x86_64-apple-ios,
          aarch64-apple-ios-sim,
          ios-universal,
          ios-universal-sim,
        ]
    steps:
      - name: Build dummy ios ${{ matrix.target }}
        run: |
          touch libbreez_sdk_bindings.a

      - name: Upload dummy ios ${{ matrix.target }} artifact
        uses: actions/upload-artifact@v4
        with:
          name: sdk-bindings-${{ matrix.target }}
          path: ./*
