name: Publish Flutter Package
on:   
  workflow_call:
    inputs:
      repository:
        description: 'sdk repository, defaults to current repository'
        required: false
        type: string
      ref:
        description: 'commit/tag/branch reference'
        required: true
        type: string
      package-version:
        description: 'version for the flutter package (MAJOR.MINOR.BUILD) (no v prefix)'
        required: true
        type: string
      publish:
        description: 'value indicating whether to commit/tag a release.'
        required: true
        type: boolean
        default: true
    secrets:
      REPO_SSH_KEY:
        description: 'ssh key to commit to the breez-sdk-flutter repository'
        required: true

jobs:
  build-tag-release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout breez-sdk-flutter repo
        uses: actions/checkout@v3
        with:
          repository: breez/breez-sdk-flutter
          ssh-key: ${{ secrets.REPO_SSH_KEY }}
          fetch-depth: 0
          path: flutter

      - name: Checkout breez-sdk repo
        uses: actions/checkout@v3
        with:
          repository: ${{ inputs.repository || github.repository }}
          ref: ${{ inputs.ref || github.sha }}
          path: breez-sdk

      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Copy package files
        working-directory: flutter
        run: |
          rm -r ios
          rm -r android
          rm -r lib
          cp -r ../breez-sdk/libs/sdk-flutter/ios .
          mv ios/breez_sdk.podspec.production ios/breez_sdk.podspec
          cp -r ../breez-sdk/libs/sdk-flutter/android .
          mv android/build.gradle.production android/build.gradle
          cp -r ../breez-sdk/libs/sdk-flutter/lib .
          cp ../breez-sdk/libs/sdk-flutter/pubspec.yaml .
          cp ../breez-sdk/libs/sdk-flutter/pubspec.lock .  

      - uses: actions/download-artifact@v3
        with:
          name: bindings-swift
          path: flutter/ios/bindings-swift/Sources/BreezSDK/
      
      - uses: actions/download-artifact@v3
        with:
          name: bindings-kotlin
          path: flutter/android/src/main/kotlin/breez_sdk

      - name: Set package version
        working-directory: flutter
        run: |
          sed -i.bak -e 's/version:.*/version: ${{ inputs.package-version }}/' pubspec.yaml
          sed -i.bak -e "s/^version .*/version '${{ inputs.package-version }}'/" android/build.gradle
          sed -i.bak -e "s/s.version          = .*/s.version          = '${{ inputs.package-version }}'/" ios/breez_sdk.podspec
          rm pubspec.yaml.bak
          rm android/build.gradle.bak
          rm ios/breez_sdk.podspec.bak

      - name: Archive flutter release
        uses: actions/upload-artifact@v3
        with:
          name: breez-sdk-flutter-${{ inputs.package-version || github.sha }}
          path: |
            flutter/*
            !flutter/.git

      # - name: Tag the Flutter package
      #   working-directory: flutter
      #   if: ${{ inputs.publish }}
      #   run: |
      #     git config --global user.email github-actions@github.com
      #     git config --global user.name github-actions
      #     git add .
      #     git commit -m "Update Breez SDK Flutter package to version v${{ inputs.package-version }}"
      #     git push
      #     git tag v${{ inputs.package-version }} -m "v${{ inputs.package-version }}"
      #     git push --tags
